$primary: #039ecf;
$primary-2: #28c0f0;
$secondary: #ffde3f;
$primary-light: #f3f8fb;
$black: #363636;
$gray: #7d7d7d;
$gray-2: #DCDCDC;
$bg: #f8f9fb;

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  padding: 8px 70px;
  font-size: 24px;
  border-radius: 8px;
}

.cur-pointer {
    cursor: pointer;
}

.c-bg-primary {
  background-color: $primary-2;
  color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}

.c-bg-gray-2 {
  background-color: $gray-2;
  color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}